<meta charset="utf-8" />
<meta name="language" content="{{ .Site.Language.LanguageName }}" />
<meta name="viewport" content="width=device-width" />
<title>
    {{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}
</title>

{{ if .Description }}
<meta name="description" content="{{ .Description }}" />
{{ end }}

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/schema.html" . }}

<link rel="canonical" href="{{ .Permalink }}" />

{{ range .AlternativeOutputFormats -}}
{{ printf `<link rel="%s" type="%s" href="%s" />` .Rel .MediaType.Type .Permalink | safeHTML }}
{{ end -}}

<link rel="stylesheet" href="/css/index.css" />

<script src="/js/main.js" defer></script>

<script defer src="https://cloud.umami.is/script.js" data-website-id="0b6db0cf-5ce8-4b6a-8c85-a066f1d77d4e"></script>